body{
    background-color: #f1f1f1;
}

nav
{
 position:fixed;
 top:0;
 left:0;
 width:100%;
 height:70px;
 background:black;
 padding:0 100px;
 box-sizing:border-box;
 font-size:14px;
 z-index:1;
}

nav ul
{
 float:right;
 display:flex;
 margin:0;
 padding:0;
}

nav ul li
{
 list-style:none
}

nav ul li a
{
 position:relative;
 display:block;
 height:70px;
 line-height:70px;
 padding:0 20px;
 box-sizing:border-box;
 color:#e4d7c9;
 text-decoration:none;
 text-transform:uppercase;
 transition:.5s;
}

nav ul li a:hover
{
 color:#262626;
}

nav ul li a:before
{
 content:'';
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 background:#e4d7c9;
 transform-origin:right;
 z-index:-1;
 transform:scaleX(0);
 transition:.5s;
}

nav ul li a:hover:before
{
 transform-origin:left;
 transform:scaleX(1);
}

nav .banner
{
  float:left;
  width:130px;
  border-radius:1px;
}

.nav-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:14vh;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 349px;
    height: 110px;
    position: relative;
    left: -1px;
    top: -5px;
}


.nav-main ul{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    top: -5px;
}
.nav-main ul li{
list-style: none;
line-height: 0px;
padding: 10px 55px 0 0;
}

.nav-main ul li a{
    display: block;
    height: 200%;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
    font-family: arial, sans-serif;
    font-size: 16px;
}
nav .banner
{
    float:left;
    width:130px;
    border-radius:1px;
}

/* map */

#mapid{
    position: fixed;
    height:650px;
    width: 100%;
    border-radius: 10px;
    top: 105px;
    left: 0;
}

form {
	background-color: black;
}
